<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="node_modules/chart.js/dist/Chart.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="container m-5">
        <div class="jumbotron  m-5">
            <h1 class="display-3"><i class="fas fa-dumbbell"></i> Strength</h1>
            <p class="lead">Discover what you weigh up to.</p>
            <hr class="my-2">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button" value= "onClick()">Take a look</a>
            </p>
        </div>
        <form method="post" action="/addscores">
            <label>Enter Your Scores</label><br>
            <input type="number" name="Squat" placeholder="150kg..." required>
            <input type="number" name="Bench Press" placeholder="150kg.." required>
            <input type="number" name="Deadlift" placeholder="150kg.." required>
            <input type="submit" value="Add">
        </form>
        <div>
            <ul>
                <li>
                    Squat: <%= documents[1].squat  %>
                </li>
            </ul>
        </div>
        <div class="container d-flex  " style= "position: relative; height: 40vh; width:80vw;">
                <canvas id="myRadar"></canvas>
                <div class="container">
                    <canvas id="myChart"></canvas>
                </div>
        </div>
    </div>


</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
